*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #D5E3ED;
    font-size: 15px;    
}




.two{
    background-color: #ffffff;
    width: 250px;
    border-radius: 15px;
    height: 400px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}

.img{
    width: 230px;
    border-radius: 10px;
    margin-bottom: 7px;
}

.pd{
    margin: 10px;
    text-align: center;
}

p{
    font-size: 15px;
    font-family: Outfit;
    color: #A1A1A6;
}

h1{
    font-family: Outfit;
    font-size: 18px;
    color: #173044;
}
